div.gDiv
{
	display: flex;
	flex-direction: column;
}
div.graph
{
	-webkit-animation: slide-left .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
			animation: slide-left .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
	display: inline-flex;
	width: 600px;
	height: 600px;
	margin-top: 20px;
	padding: 10px;
	background-color: #FFFFFF;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);	
}
svg.visual
{
	display: inline-flex;
	color: #000000;
}
div.badGraph
{
	-webkit-animation: slide-left .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
			animation: slide-left .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
	display: inline-flex;
	width: 600px;
	height: 50px;
	margin-top: 20px;
	padding: 10px;
	background-color: #FFFFFF;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
p.fork
{
	margin: 0px;
	font-size: 1.2em;
}
div.gInfoDiv
{
	-webkit-animation: slide-left .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
			animation: slide-left .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
	display: inline-flex;
	width: 600px;
	height: 38px;
	margin-top: 20px;
	padding: 10px;
	background-color: #FFFFFF;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
p.gInfo
{
	color: #000000;
	font-size: .88em;
	margin: 0px;
}
div.tooltip
{		
	text-align: center;
	visibility: hidden;
	position: absolute;		
	width: 60px;					
	height: 30px;					
	padding: 2px;			
	font: .8em;	
	background: #FFFFCC;	
	border: 1px solid black;		
	border-radius: 8px;			
	pointer-events: none;
	opacity: .6;		
}
p.y
{
	margin: 0px;
	margin-top: 3px;
}